@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="text-align: center;">
    <img src="images/1.jpg" style="margin-bottom: 10px; width: 500px;">
    <div style="display: flex; justify-content: center;">
        <img src="images/2.jpg" style="margin-right: 10px; width: 450px;">
        <img src="images/3.jpg" style="margin-left: 10px; width: 450px;">
    </div>
</div>
<p style=" background-color: rgba(225, 225, 255, 0.8); text-align: center; margin-top: 20px; margin-bottom: 20px;">
    Волейбо́л (англ. volleyball от volley — «удар с лёту» и ball — «мяч») — вид спорта, командная спортивная игра, в процессе которой две команды соревнуются на специальной площадке, разделённой сеткой, стремясь направить мяч на сторону соперника таким образом, чтобы он приземлился на площадке противника (добить до пола), либо чтобы игрок защищающейся команды допустил ошибку. При этом для организации атаки игрокам одной команды разрешается не более трёх касаний мяча подряд (в дополнение к касанию на блоке).

    Волейбол — неконтактный, комбинационный вид спорта, где каждый игрок имеет строгую специализацию на площадке. Важнейшими качествами для игроков в волейбол являются прыгучесть для возможности высоко подняться над сеткой, реакция, координация, физическая сила для эффективного произведения атакующих ударов.
</p>

