@page
@model PrivacyModel
@{
    ViewData["Title"] = "Информация НВЛ";
}
<h1 style="color: white">@ViewData["Title"]</h1>

<div  style="background-color: rgba(225, 225, 255, 0.8); width: 120%; padding: 20px; position: relative; text-align:left; left: 50%; transform: translateX(-50%);">
    <p>
        NVL (nvlsport.ru) — Национальная Волейбольная Лига (международная любительская).
        Регламент <a href="https://nvl-v.jimdofree.com/r">НВЛ</a>
        Была основана летом 2014 года. Первые игры состоялись 23 августа. На тот момент было всего 15 команд. Сейчас же Лига насчитывает около 250 команд в 6-ти городах России:
    </p>
    <ul>
        <li> <a href="https://vk.com/nvlmoscow">Москва</a></li>
        <li> <a href="https://vk.com/nvlvolley">Новосибирск</a></li>
        <li> <a href="https://vk.com/nvlcrimea">Севастополь</a></li>
        <li><a href="https://vk.com/nvlkzn">Казань</a></li>
        <li><a href="https://vk.com/nvlprm">Перьмь</a></li>
        <li> <a href="https://vk.com/nvlkrasnodar">Краснодар</a></li>
    </ul>
    <p>
        Примечание: города в списке расположены по активности Лиги в них.
    </p>
    <p>
        Всего за полгода количество команд выросло в несколько раз и стремительно продолжает увеличиваться благодаря следующим преимуществам:
    </p>
    <ul>
        <li>Экономия времени (за одну 3-х часовую встречу проходит сразу 3 матча — не нужно тратить на игры целый день)</li>
        <li>Постоянная смена соперников в группах</li>
        <li>Частое проведение турниров (1-2 раза в месяц)</li>
        <li>Разнообразие призов, награждения на всех турнирах (4–6 награждений каждые выходные), номинации, конкурсы, фотосъемка на всех турнирах</li>
        <li>Большой охват городов, стран</li>
    </ul>
    <p>
        Целевая аудитория NVL — успешные любители волейбола, которые ценят свое время, и студенты.
        Общее количество участников и болельщиков NVL: более 5 000 человек.
    </p>
    <p>
        Суть проекта заключается в том, чтобы объединить внутренние чемпионаты (регулярные игры) лиги NVL разных стран в едином турнире чемпионов. Лучшие команды, сохраняя составы которыми они играли в сезоне, в честной борьбе соревнуются с другими командами. Основная цель международного ежегодного турнира - популяризация волейбола, особенно среди смешанных команд (мужчины и женщины в одной команде), так как данный формат соревнований недооценен: Международный олимпийский комитет настаивает на том, чтобы максимально уравнять права мужчин и женщин в различных видах спорта, а также ввести максимальное количество эффектных смешанных дисциплин, в которых одновременно принимают участие как мужчины, так и женщины. Примеров тому много: соревнования смешанных команд уже появились в биатлоне, плавании, бобслее, санном спорте и даже в синхронном плавании. В игровых видах спорта же такой практики еще не было. Поэтому концепция Национальной Волейбольной Лиги направлена на появление смешанных команд в волейболе.
    </p>
</div>

